# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# C / C++ build artefacts
*.o
*.obj
*.out
a.out
mc

# LaTeX build artefacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg

# Editor
.idea/
.vscode/
